<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="errorJson" type="File" fileName="Logs/ErrorLog.json" >
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name='exception' layout='${exception}' />
        <attribute name="stacktrace" layout="${stacktrace:topFrames=10}" />
      </layout>
    </target>
    <target name="infoJson" type="File" fileName="Logs/InfoLog.json" >
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="errorJson" />
    <logger name="*" level="Info" writeTo="infoJson" />
  </rules>
</nlog>