@model PageWatcher.Models.LoggerViewModel

@{
    ViewBag.Title = "Error Log Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <p>@Model.json</p>
        </div>
    </div>
</div>