@model List<PageWatcher.Models.InfoLogItemViewModel>

@{
    ViewBag.Title = "Error Log Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            @foreach (var item in Model)
            {
                <div>
                    <span>@(item.Time)</span>
                    <span>@(item.Message)</span>
                </div>
            }
        </div>
    </div>
</div>