@model PageWatcher.Models.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-2">Page Watcher</h1>
        <hr class="my-4">
        <h2 class="lead">This service monitors specific URL and informs whether some tickets shown there.</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            @if (Model.TicketsAvaliable == true)
            {
                <h3>There are some tickets avaliable</h3>
                <p>We've found some tickets on the</p>
            }
            else if (Model.TicketsAvaliable == false)
            {
                <h3>No tickets avaliable</h3>
                <p>We haven't found any tickets on the</p>
            }
            <a href="@Model.Url">@Model.Url</a>
        </div>
        <div class="col-md-4">
            <div class="alert alert-info">
                <p>You can also follow the notification bot in this group, it'll send you a message if tickets appears: <a href="https://t.me/joinchat/EzpbLRDtmfww-grbZZVszA">https://t.me/joinchat/EzpbLRDtmfww-grbZZVszA</a></p>
            </div>
        </div>

    </div>
</div>